<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="/static/css/faq.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign-Up</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li class="admin-control"><a href="/admin">Admin Control</a></li>
            </ul>
        </nav>
    </header>

    <div class="faq-container">
        <h1>Frequently Asked Questions</h1>
        <section class="faq-section">
            <ul>
                <li><span class="question">Q1: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quos quidem iure!<br></span> <span class="answer"><br>This is the answer to the first question.<br><br></span></li>
                <li><span class="question">Q2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut distinctio eaque qui possimus temporibus rerum delectus exercitationem nihil tempore commodi.<br></span> <span class="answer"><br>This is the answer to the second question.<br><br></span></li>
                <li><span class="question">Q3: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, animi quis. Velit soluta voluptate facere, repudiandae laborum tempore assumenda voluptatem!<br></span> <span class="answer"><br>This is the answer to the third question.<br><br></span></li>
                <li><span class="question">Q4: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sunt fugit dolore ipsa quaerat ipsum, illum eligendi odio animi pariatur!<br></span> <span class="answer"><br>This is the answer to the fourth question.<br><br></span></li>
                <li><span class="question">Q5: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sunt fugit dolore ipsa quaerat ipsum, illum eligendi odio animi pariatur!<br></span> <span class="answer"><br>This is the answer to the fifth question.<br><br></span></li>
                <li><span class="question">Q6: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sunt fugit dolore ipsa quaerat ipsum, illum eligendi odio animi pariatur!<br></span> <span class="answer"><br>This is the answer to the sixth question.<br><br></span></li>
                <li><span class="question">Q7: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sunt fugit dolore ipsa quaerat ipsum, illum eligendi odio animi pariatur!<br></span> <span class="answer"><br>This is the answer to the seventh question.<br><br></span></li>
                <li><span class="question">Q8: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sunt fugit dolore ipsa quaerat ipsum, illum eligendi odio animi pariatur!<br></span> <span class="answer"><br>This is the answer to the eighth question.<br><br></span></li>
                <li><span class="question">Q9: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sunt fugit dolore ipsa quaerat ipsum, illum eligendi odio animi pariatur!<br></span> <span class="answer"><br>This is the answer to the ninth question.<br><br></span></li>
                <li><span class="question">Q10: Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sunt fugit dolore ipsa quaerat ipsum, illum eligendi odio animi pariatur!<br></span> <span class="answer"><br>This is the answer to the tenth question.<br><br></span></li>
            </ul>
        </section>
    </div>

    <footer>
        <p>&copy; 2023 E-Learning. All rights reserved.</p>
    </footer>
</body>
</html>
