header {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; /* Add margin to separate Admin Control */
  }
  
  nav ul li {
    margin-right: 20px;
    position: relative; 
  }
  
  .admin-control {
    margin-right: 0;
    margin-left: auto; /* Push Admin Control to the right */
  }
  
  nav ul li:first-child {
    margin-left: 10px; /* To put Home a bit left */
  }
  .userdisp{
    
      margin-right: 0;
      margin-left: auto; /* Push username to the right */
    }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
  }
  
  
  nav a:hover {
    color: #EBB02C; /* Change to your desired hover color */
  }

  .nav ul li.dropdown:hover .dropdown-content {
    display: block;
  }
  
  .nav ul li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .nav ul li.dropdown .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
  }
  
  .nav ul li.dropdown .dropdown-content a:hover {
    background-color: #EBB02C; /* Change to your desired hover color */
    color: black;
  }

  @media screen and (max-width: 767px) {
    nav ul {
      flex-direction: column;
      overflow-x: hidden; /* Remove horizontal scrolling for small screens */
    }
    
    nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .userdisp {
      margin-top: 10px;
    }

    .admin-control {
      margin-right: auto;
      margin-left: auto; /* Push Admin Control to the right */
    }
  }